/storage/*.key
/public/.htaccess
/public/robots.txt
/public/sitemap.xml
.htaccess
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
